<div class="card">
  <i class="delete-icon bi bi-trash" (click)="deleteElement()"></i>
  <figure>
    <img [src]="pokemon.imageUrl" [alt]="pokemon.name + '-image'" />
  </figure>
  <p class="pokenumber mt-3 mb-1">N° {{ pokemon.id }}</p>
  <h1 class="pokename" *ngIf="!editPokemon">
    {{ pokemon.name }}
    <i class="bi bi-pencil-fill" (click)="editPokemon = !editPokemon"></i>
  </h1>
  <input
    type="text"
    *ngIf="editPokemon"
    [(ngModel)]="pokemon.name"
    (keyup.enter)="editPokemon = !editPokemon"
  />
  <p class="catched">Catturato il: {{pokemon.catched | date: 'dd-MM-yyyy'}} </p>
  <span>{{100 | mypipe: 100}}</span>
  <div class="multiple-types mt-2">
    <span *ngFor="let type of pokemon.types" class="{{ type }}">{{
      type
    }}</span>
  </div>
  <div class="d-flex">
    <button class="btn btn-primary" *ngIf="level > 1" (click)=" level = level - 1" >Level-</button>
    <p>Level: {{ level }}</p>
    <button class="btn btn-primary" *ngIf="level < 100" (click)="level = level + 1">Level+</button>
  </div>
</div>
